body {
background-color: Gray;
}

h3 {
	padding-top: 10px;
}

.SongInfo {
	width: 60vw;
	height: 80vh;
	display: inline-block;
	font-weight: bold;
	color: white;
	border: 2px solid white;
	background-color: rgb(18, 13, 161);
	text-align: center;
	opacity: 0.99;
}

.moodlist {
	height: auto;
	width: 30vw;
	display: inline-block;
	font-weight: bold;
	background-color: rgb(18, 13, 161);
	border: 2px solid white;
	float: right;
	padding-top: 100px;
	text-align: center;
	font-size: 1.5em;
}

#Happy {
	color: Yellow;
}

#Angry {
	color: Red;
}

#Sad {
	color: Blue;
}

#Excited {
	color: Purple;
}

#Relaxed {
	color: Aqua;
}

#Submit {
	font-weight: 700;
	background-color: Blue;
}

#player {
	box-sizing: border-box;
	padding: 10px;
	width: inherit;
	height: 70vh;
}

#rating {
	margin: 20% 33%;
	font-weight: 700;
	font-size: 30pt;
	color: White;
	display: block;
	background-color: Navy;
	width: 33%;
	text-align: center;
}

.search-icon {
	font-size: 50pt;
}

#NavBar {
	height: 45px;
}

.big-font {
	font-size: 30pt;
	font-weight: 700;
	margin-top: 10px;
}

#oops {
	position: absolute;
	text-align: center;
	font-size: 20pt;
	margin-top: 250px;
	z-index: -1;
	width: 60vw;
}














	
