body{
	overflow: hidden;
	/*box-sizing: border-box;*/
}

#music-player-div{
	background-color: red;
	width: 50vw;
	height: 100vh;
	float: left;
}

#emotion-selector-div {
	float: right;
	background-color: blue;
	width: 50vw;
	height: 100vh;
	overflow-y: scroll;
}

.emotion-btn{
	width: 23vw;
	height: 23vw;
	font-size: 13vw;
	border-radius: 100%;
	background-color: transparent;
	border: none;
	opacity: 0.8;
}

.emotion-btn:hover {
	opacity: 0.9;
}

.emotion-btn:active {
	opacity: 1;
}
/*
.ytplayer{
	width: 100px;
}
*/
/*mobile phones*/
@media only screen and (max-width: 600px) {
	
	body{
		overflow-y: scroll;
	}
	
  #music-player-div{
		background-color: red;
		width: 100vw;
		height: 100vh;
	}

	#emotion-selector-div {
		background-color: blue;
		width: 100vw;
		height: auto;
		overflow-y: auto;
	}
	
	.emotion-btn{
		width: 49vw;
		height: 49vw;
		font-size: 23vw;
	}
	/*
	.ytplayer{
		width: 500px;
	}
	*/
}