/*
<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>

</head>
<body>
{background-color: blue;}
<p>This paragraph.</p>
</p style="color: red; font-size: 18px;">This paragraph.</p>

</body>
</html>
=======
h1 {
	font-weight: bold;
	color: blue;
	justify-content: center;
}
>>>>>>> branch 'master' of https://github.com/csc1009y2019/webapp-59.git
*/